#body {
}
#qipan {
	background-color: pink;
	width: 400px;
	height: 400px;
	position: fixed;
	top:50%;
	left:50%;
	margin-top: -200px;
	margin-left: -200px;
	display: flex;
	border-radius: 5px;
	overflow: hidden;
	flex-direction:row;
	align-ltems:center;
	justify-content:space-between;
	flex-wrap: wrap;
}
#qipan div{
	width: 20px;
	height: 20px;
	line-height: 20px;
	text-align: center;
}

#qipan div:hover {
	background-color: yellow;
}

#socer {
	text-align: center;
	width: 150px;
	height: 150px;
	margin:auto;
}
.socer {
	font-weight: 550;
	letter-spacing: 1px;
	font-size: 20px
}